@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    background-image: url("images/circles.png");
    font-family: Kumbh Sans;
}

h2{
    
    font-size: 18px;
    color: hsl(229, 23%, 23%);
}

p{
    font-size: 14px;
    color: hsl(227, 10%, 46%);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 25%;
    left: 40%;
    background-color: white;
    border-radius: 10px;
}

.profilepic{
    width: 30%;
    border-radius: 50%;
    border: solid 5px blue; 
    position: absolute;
    top: 5em;
}

.profilename{
    margin-top: 5em;
}

.upperpart{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid blue;
}

.location{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 2em;
}

.downpart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
}

.stats{    
    text-align: center;
}

.stat-count{
    margin-bottom: 0;
}

.stat-desc{
    font-size: 12px;
    font-weight: 400;
}

.topimg{

}

.bottomimg{

}

@media (max-width: 900px) {
    .container{
        
        width: 90%;
    }
}